<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testingDaniel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59F701A81BB6A45E00D818D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59F701BC1BB6A45E00D818D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59F701C71BB6A45E00D818D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
